body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #000000, #4b0082);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

form {
    background: linear-gradient(to bottom right, #fff, #e0e0ff);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    width: 100%;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6f42c1;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5a35a0;
}

p {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}

.results {
    background: linear-gradient(to bottom right, #fff, #e0e0ff);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.result-item img {
    float: right;
    margin-left: 20px;
    max-width: 100px;
}

.result-item h3 a {
    color: black;
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #631763;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #5a35a0;
}

.pagination .active {
    background-color: #5a35a0;
    pointer-events: none;
}

.sort-options {
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
